body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logoHeader {
  color: #fef6e4;
  font-size: 10vw;
  line-height: 10vw;
}

@media screen and (min-width: 600px) {
  .logoHeader {
    font-size: 4rem;
    line-height: 4rem;
  }
}